<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mjc.usb-audio-keepalive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/play</string>
		<string>-n</string>
		<string>synth</string>
		<string>sine</string>
		<string>1</string>
		<string>gain</string>
		<string>-96</string>
		<string>repeat</string>
		<string>-</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
</dict>
</plist>
